@import '../Vars.scss';

.add--botton {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}

.add--label {
  font-size: 14px;
  text-align: center;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 0;
}

.add--botton:hover {
  cursor: pointer;
  color: black;

}

#modal-header {
  border-bottom: 0;
}

.modal-content {
  background-image: $content;
  color: white;
  width: 80%;
}

#inputDesignation {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
  height: auto;
}

#inputNumSerial {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
  height: auto;
}

#inputNumPart {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
  height: auto;
}

#inputPosition {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
  height: auto;
}

#inputNumDesm {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
  height: auto;
}

#inputDate {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
  height: auto;
}

#modal-footer {
  border-top: 0;
}

#buttonSave{
  background-image: $button-save;
}

#buttonClose {
  background-image: $content;
}

