@import '../Vars.scss';

.add--botton {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}

.add--label {
  font-size: 14px;
  text-align: center;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 0;
}

.add--botton:hover {
  cursor: pointer;
  color: black;

}

.btn{
  border: solid red 1px;
  background-color: yellow;
}

.closeButton {
  border: solid red 1px;
}