@import '../Vars.scss';

.add--botton {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}

.add--label {
  font-size: 14px;
  text-align: center;
  margin-right: 8px;
}

.add--botton:hover {
  cursor: pointer;
}
