@import '../Vars.scss';
@import '../Media.scss'; 

.navigation{
  grid-area: navigation;
  width: 100%;
  height: 100%;
  background: $navigation-color;
  color: $color-lyrics;
  font-size: 16px;
  position: relative;
    
}

.navigation__container {
  position: absolute;
  width: 100%;
  height: auto;
  
}

.navigation__container div {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-bottom: solid 0.7px $color-lyrics;
}

// .navigation__item--Configuracion {
//   position: absolute;
// }

.navigation__item--Configuracion span {
  position: relative;
  width: 100%;
  cursor: pointer;
  
}

.navigation__container div:hover {
  cursor: pointer;
}

// .navigation__container div:active {
//   display: none;
//   cursor: pointer;
//   background-color: $dropdown--hover
// }

.navigation__item--Montaje  {
  display: none !important;
}
