@import '../Vars.scss';
@import '../Media.scss'; 

.navigation{
  grid-area: navigation;
  width: 100%;
  height: 100%;
  background: $navigation-color;
  color: $color-lyrics;
  font-size: 16px;
  position: relative;
    
}

.navigation__container {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  
}

.navigation__container li {
  position: relative;
  width: 100%;
  height: 10%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-bottom: solid 0.7px $color-lyrics;
}

// .navigation__item--Configuracion {
//   position: absolute;
// }

.navigation__item--Configuracion li {
  position: relative;
  width: 100%;
  cursor: pointer;
  
}

.navigation__container li:hover {
  cursor: pointer;
}

.navigation__item--Editar {
  flex-wrap: wrap; 
  
}

// .navigation__item--Montaje  {
//   display: none !important;
// }
