@import './Vars.scss';
@import './Media.scss';

body {
    margin: 0;
    font-family: $theme-fonts;
    
  
  }

  .app {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas: "header header"
                          "navigation content"
                          "footer footer";
  }