@import './Vars.scss';

.table__container {
  display: block;
  width: 100%;
  height: 100%;
}

table {
  background-image: $content;
  color: white;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white;
}



// width head

thead th:nth-child(1) {
  width: 23%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 13%; //13
}

thead th:nth-child(4) {
  width: 10%; //10
}

thead th:nth-child(5) {
  width: 12%; //12
}

thead th:nth-child(6) {
  width: 12%; //12
}

thead th:nth-child(7) {
  width: 13%; //13
}

// width body

.td__designacion {
  width: 23%;
}

.td__numeroParte {
  width: 15%;
}

.td__numeroSerie {
  width: 13%;
}

.td__posicion {
  width: 10%;
}

.td__numeroDesmontaje {
  width: 12%;
}

.td__fecha {
  width: 12%;
}

.td__acciones { 
  width: 13%;
}

// td {
//   display: block;
//   height: 262px;
//   overflow: auto;
//   width: 100%;
// }

th, td {
  padding: 20px;
}

html {
  font-family: $theme-fonts;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

.tdActions--botton {
  margin: 0 10px;
}

.tdActions--botton:hover {
  cursor: pointer;
}

tbody td {
  text-align: center;
}
 
table tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tfoot th {
  text-align: right;
}

thead, tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid white;
}

tbody tr:nth-child(odd) {
  background-color:$content
}

tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,0.1);;
}


table {
  background-color: $content;
}

caption {
  padding: 20px;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}