@import './Vars.scss';

table {
  background-image: $content;
  color: white;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

html {
  font-family: $theme-fonts;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead, tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid white;
}

tbody tr:nth-child(odd) {
  background-color:$content
}

tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,0.1);;
}


table {
  background-color: $content;
}

caption {
  padding: 20px;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}